@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html, body {
    font-family: 'Lato', sans-serif;
    color: var(--font-color-text-100);
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

a {
    transition: color 0.5s;
    color: var(--font-color-text-100);
}

h1, h2, h3, h4, h5 {
    color: var(--font-color-text-100);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

